/* Hide section 2 and 3 by default */

html {
    background-color:#444054
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#questionSection {
    display: none;
}

#resultSection {
    display: none;
}

#category1Section {
    display: none;
}

#category2Section {
    display: none;
}

#questionContainer {
    display: grid;
    padding: 6rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#welcomeSection {
    text-align: center;
    color: white;
    padding: 5rem;
    background-color: #5c5673;
    border: 3px solid white;
    border-radius: 15px;
    width: 500
}

#welcomeTitle {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#welcomeButtons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 3rem;
}

#category1Title, #category2Title  {
    color:white;
}

#category1Text, #category2Text {
    color:white;
}



button {
    border: none;
    border-radius: 10px;
    background-color: orange;
    height: 100px;
    min-width:200px;
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
}

button:hover {
    background-color: rgb(216, 143, 6);
    scale: 1.05;
    cursor: pointer;
}




